CN 4/labo 7/webservices/equationsOplossing/EquationClient/xml-resources/web-service-references/EquationService/wsdl/localhost_8080/EquationService/EquationService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="solveQuadratic" type="tns:solveQuadratic"/>

<xs:element name="solveQuadraticResponse" type="tns:solveQuadraticResponse"/>

<xs:complexType name="solveQuadratic">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
<xs:element name="c" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="solveQuadraticResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>